
h1 {
  margin-bottom: 0.5em;
}

h1, p, table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 115%;
  font-style: italic;
  color: lawngreen;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-style: italic;
  color: dimgray;
}

em { color: black; }
strong { color: black; }

